<div class="jumbotron mt-3 pt-4">
  <h1 class="display-4">This NOTE APP is using Node JS as Backend</h1>
  <p class="lead">A simple App to manage Notes with Node JS, also is using the next characteristics:</p>
  <ul class="list-group list-group-flush  ">
    <li class="list-group-item list-group-item-secondary">Node JS as Backend</li>
    <li class="list-group-item list-group-item-secondary">Express as framework for run server's functions</li>
    <li class="list-group-item list-group-item-secondary">Handlebars as layer engine</li>
    <li class="list-group-item list-group-item-secondary">Bcrypt as encrypter method when using password</li>
    <li class="list-group-item list-group-item-secondary">Express-sessions as a simple method for share data at server side</li>
    <li class="list-group-item list-group-item-secondary">Connect-flash as a better method for share data at server side between routes</li>
    <li class="list-group-item list-group-item-secondary">Express-handlebar for manage function about engine layer with express</li>
    <li class="list-group-item list-group-item-secondary">Method-override for override simple method GET/POST</li>
    <li class="list-group-item list-group-item-secondary">Moment as method for manage time better</li>
    <li class="list-group-item list-group-item-secondary">Mongoose for connect whit Mongo DB</li>
    <li class="list-group-item list-group-item-secondary">Passport as a method for manage credencials/logins</li>
    <li class="list-group-item list-group-item-secondary">Passport local for manage passport at local server</li>
  </ul>
  <hr class="my-4">
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi nam ipsum tempora soluta tempore, pariatur ex, quod unde ab, consectetur eos accusamus aperiam natus illo iste! Iste dolorem exercitationem, necessitatibus consectetur quos enim amet voluptate dolor ipsum deserunt odit sit ipsam iure cumque accusantium placeat! Et impedit magnam accusantium officiis perspiciatis quis laborum possimus corporis cum nesciunt aut natus fuga, velit voluptates harum in rem illum culpa vero sequi esse ab? Quos, accusamus aliquam dicta libero distinctio perspiciatis ea animi optio commodi aut nihil, atque error repudiandae iste, doloribus facilis officia odit est recusandae eaque voluptatibus esse? Quos, delectus eos.
  </p>
  <a class="btn btn-outline-dark btn-lg mt-4" href="https://eadbeel94.herokuapp.com/" role="button">eadbeel94</a>
</div>